/**
 * Appwide Shadow DOM styling
 *
 * Shadow DOM support is not integrated into libsass -> https://github.com/sass/libsass/issues/452
 */

/* Drawer area (left) */
ivx-app::shadow core-header-panel[drawer] {
  background-color: #fefefe;
}

/* Toolbar (top) */
ivx-app::shadow core-toolbar {
  background-color: rgba(40, 180, 255, 0.05);
}

/* Drawer items (not selected) */
ivx-app::shadow ivx-drawer-content::shadow paper-item {
  background-color: #fff;
}

/* (selected) */
ivx-app::shadow ivx-drawer-content::shadow paper-item.core-selected {
  background-color: rgba(40, 180, 255, 0.05);
}

/* Drawer paper-ripple color */
ivx-app::shadow ivx-drawer-content::shadow paper-item::shadow paper-ripple {
  color: #258dc8;
}

html /deep/ .float-left {
  float: left;
}

html /deep/ .float-right {
  float: right;
}

html /deep/ .clear {
  clear: both;
}

/* Theming (without color, size only) */
html /deep/ paper-input {
  width: 100%;
}

html /deep/ paper-input::shadow paper-input-decorator::shadow .input-body {
  font-size: 2rem;
}

html /deep/ paper-button {
  font-size: 1rem;
}

html /deep/ paper-button.highlight {
  background-color: #2f6fad;
  color: #fff;
}

html /deep/ paper-button.highlight::shadow #ripple {
  color: #30afff;
}

html /deep/ paper-radio-button::shadow #ink[checked] {
  color: #2f6fad;
}

html /deep/ paper-radio-button::shadow #onRadio {
  background-color: #2f6fad;
}

html /deep/ paper-checkbox::shadow #ink[checked] {
  color: #2f6fad;
}

html /deep/ paper-checkbox::shadow #checkbox.checked {
  border-color: #2f6fad;
}

html /deep/ paper-button {
  text-transform: none;
}

/* the item selector will match the given element in the `ivx-qtype-rank` element
   but will also match the item in the avatar (this is when the item is dragged
   around). So we need only one style to get the same appearance. */
html /deep/ item {
  display: block;
  text-align: center;
  margin-bottom: 0.5rem;
  padding: 1rem;
  background-color: #0066bb;
  color: white;
  border: 1px #0066bb solid;
}

/* This is the avatar container to use when this pull-request will not be accepted:
   https://github.com/Polymer/core-drag-drop/pull/12 */
/*core-drag-avatar item {
  border: 1px grey dotted;
  opacity: 0.8;
}*/

html /deep/ paper-slider.noprogress /deep/ #activeProgress {
  display: none;
  visibility: hidden;
}

html /deep/ paper-slider.noprogress /deep/ .ring > #sliderKnob > #sliderKnobInner {
  background-color: #3f51b5 !important;
  border: none !important;
}

html /deep/ ivx-pager::shadow paper-progress::shadow #activeProgress {
  background-color: #3f51b5;
}
