/**
 * Appwide Shadow DOM styling -> Theme
 *
 * Shadow DOM support is not integrated into libsass -> https://github.com/sass/libsass/issues/452
 * As for now we use Ruby SASS -> https://sass-compatibility.github.io/#shadow_dom_styling
 */

$color01: #0d3580;
$color02: #256fbb;
$color03: #fafafa;
$color04: #333333;
$color05: rgb(237, 237, 237);
$color06: #ffffff;
$color07: #258dc8;
$color08: #2f6fad;
$color09: rgba(40, 180, 255, 0.05);
$color10: #30afff;
$color11: #0066bb;
$color12: #3f51b5;

body {
  background: $color03;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $color04;
}

ivx-app::shadow {
  // Drawer area (left)
  core-header-panel[drawer] {
    background-color: $color05;
  }

  // Toolbar (top)
  core-toolbar {
    background-color: $color09;
  }

  // Drawer items
  ivx-drawer-content::shadow {
    //(not selected)
    paper-item {
      background-color: $color06;
    }

    paper-item.core-selected {
      background-color: $color09;
    }

    // Drawer paper-ripple color
    paper-item::shadow paper-ripple {
      color: $color07;
    }
  }
}

html /deep/ {
  .float-left {
    float: left;
  }

  .float-right {
    float: right;
  }

  .clear {
    clear: both;
  }

  page paper-input {
    width: 100%;

    &::shadow paper-input-decorator::shadow .input-body {
      font-size: 2rem;
    }
  }

  paper-button {
    font-size: 1rem;
    text-transform: none;

    .highlight {
      background-color: $color08;
      color: $color06;
    }

    .highlight::shadow #ripple {
      color: $color10;
    }
  }

  paper-radio-button::shadow {
    #ink[checked] {
      color: $color08;
    }

    #onRadio {
      background-color: $color08;
    }

    #offRadio {
      border-color: $color08;
    }
  }

  paper-checkbox::shadow {
    #ink[checked] {
      color: $color08;
    }

    #checkbox.checked {
      border-color: $color08;
      background-color: $color08 + 100;
    }
  }

  /* the item selector will match the given element in the `ivx-qtype-rank` element
     but will also match the item in the avatar (this is when the item is dragged
     around). So we need only one style to get the same appearance.
   */
  item {
    display: block;
    text-align: center;
    margin-bottom: 0.5rem;
    padding: 1rem;
    background-color: $color11;
    color: white;
    border: 1px $color11 solid;
  }

  paper-slider.noprogress /deep/ {
    #activeProgress {
      display: none;
      visibility: hidden;
    }

    #sliderKnobInner {
      background-color: $color12 !important;
      border: none !important;
    }
  }

  ivx-pager::shadow {
    paper-progress::shadow #activeProgress {
      background-color: $color12;
    }

    core-icon {
      color: grey;
    }
  }

  paper-toast {
    bottom: 0;
    left: 25%;
    width: 50%;
    background-color: $color01;
  }

  core-icon {
    color: #828282;
  }

  paper-fab /deep/ core-icon {
    color: white;
  }

  #paperFabWrapper paper-fab {
    &:nth-child(2) {
      background-color: $color08 + 100;
    }

    &:last-child {
      background-color: $color08;
    }

    &.highlight {
      background-color: $color04;
    }
  }

  .sectionWrapper {
    .headline {
      color: $color02;
    }

    .divider {
      background-color: $color02;
    }
  }

  #brandLogo {
    filter: saturate(80%) hue-rotate(25deg) brightness(100%);
  }
}

/* This is the avatar container to use when this pull-request will not be accepted:
   https://github.com/Polymer/core-drag-drop/pull/12 */
/*core-drag-avatar item {
  border: 1px grey dotted;
  opacity: 0.8;
}*/
