:host {
  display: block;
  width: 100%;
}

#outerWrapper {

  #fabWrapper {
    padding-top: 1rem;
    padding-left: 1rem;

    #fab {
      background-color: grey;
    }

    #fab.incorrect-pin {
      background-color: red;
    }

    #fab.correct-pin {
      background-color: green;
    }
  }
}
