:host {
  display: block;
}

paper-slider {
  width: 100%;
}

.colHead {
  position: absolute;
  transform: rotate(-45deg);
  transform-origin: bottom left;
}

#slideModeWrapper {
  width: 95%;
}

.firstCol {
  width: 30rem;
}

paper-slider::shadow #sliderKnobInner {
  width: 1.2rem;
  height: 1.2rem;
}
