$colHeadWidth: 6rem;
$colHeadHeight: 5rem;
$cellPadding: 0.1rem;

@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

:host {
  display: block;
}

#contentWrapper {

  #firstColumn {
    .rowHead {
      &:nth-child(even) {
        background-color: #ededed;
      }

      height: $colHeadHeight;
      padding: $cellPadding;
      text-align: center;

      div {
        @include vertical-align;
      }
    }
  }

  #secondColumn {
    width: 70%;

    #scrollWrapper {
      overflow-x: scroll;

      div {
        flex: none;
      }
    }

    .colHead {
      width: $colHeadWidth;
      height: $colHeadHeight;
      text-align: center;
      padding: $cellPadding;

      div {
        @include vertical-align;
      }
    }

    .row:nth-child(even) {
      background-color: #ededed;
    }

    .cell {
      width: $colHeadWidth;
      height: $colHeadHeight;
      padding: $cellPadding;
      text-align: center;

      paper-checkbox, paper-radio-button {
        @include vertical-align;
      }
    }
  }
}