$colHeadWidth: 6rem;
$colHeadHeight: 5rem;
$cellPadding: 0.1rem;

@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

:host {
  display: block;
}

#contentWrapper {

  #firstColumn {
    width: 100%;

    .rowHead {
      height: $colHeadHeight;
      padding: $cellPadding;
      text-align: center;
      border-bottom: 1px #0d3580 solid;
      border-right: 1px #f6f6f6 solid;

      div {
        @include vertical-align;
      }
    }
  }

  #secondColumn {

    #scrollWrapper {
      overflow-x: scroll;

      div {
        flex: none;
      }
    }

    .colHead {
      width: $colHeadWidth;
      height: $colHeadHeight;
      text-align: center;
      padding: $cellPadding;
      border-bottom: 1px #0d3580 solid;

      div {
        @include vertical-align;
      }
    }

    .cell {
      width: $colHeadWidth;
      height: $colHeadHeight;
      padding: $cellPadding;
      text-align: center;
      border-bottom: 1px #0d3580 solid;

      paper-checkbox, paper-radio-button {
        @include vertical-align;
      }
    }
  }
}
