:host {
  display: block;
}

#navContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: absolute;
  bottom: 1rem;
  width: 100%;
}

#buttonWrapper {
  padding: 10px;
  flex: 1;
}
