:host {
  display: block;
}

#navContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: absolute;
  bottom: 1rem;
  width: 100%;
}

#buttonWrapper {
  padding: 10px;
  flex: 1;
}

page {
  width: 100%;
}

core-animated-pages {
  margin: 1rem;
}

paper-progress {
  position: absolute;
  bottom: 0;
  height: 0.5rem;
  width: 100%;

  &::shadow #activeProgress {
    transition: transform 500ms ease 0ms;
  }
}
