fieldset {
  margin-top: 2.5%;
  border: 1px #eaeaea dashed;
  color: lightgray;

  &[closed] .contentWrapper {
    display: none;
    visibility: hidden;
    height: 0;
  }

  &[active] {
    border: 1px black dashed;
    color: black;

    legend {
      font-weight: bold;
      color: black;
    }
  }

  &[preview] {
    border: 1px black dashed;

    legend {
      color: #778899;
    }
  }

  legend {
    font-weight: bold;
    color: lightgrey;
    user-select: none;
  }

  #title {
    width: 100%;
  }
}
