:host {
  display: block;
}

paper-progress {
  position: fixed;
  height: 0.2rem;
  width: 100%;

  &::shadow #activeProgress {
    transition: transform 500ms ease 0ms;
  }
}

.paperFabWrapper {
  z-index: 2;
  position: fixed;
  bottom: 1rem;
  right: 1rem;

  #prevButton {
    background-color: lightgrey;
  }

  #nextButton {
    background-color: #456b8b;
  }

  #doneButton {
    background-color: green;
  }

  #abortButton {
    background-color: red;
  }

  paper-fab {
    &::shadow core-icon {
      color: white;
    }

    &.highlight::shadow core-icon {
      color: red;
    }

    &.isOptional {
      background-color: #298b24;
    }
  }
}

one-page {
  width: 100%;
}

core-animated-pages {
  margin: 3rem;
}

#pageContent {
  &.lostTouch {
    transition:left 1s ease 0ms, right 1s ease 0ms;
  }
}

#btWrapper {
  position: absolute;
  height: 100%;
  width: 100%;

  #btPrev,
  #btNext {
    height: 100%;

    .icon-wrapper {
      height: 100%;
      width: 100%;

      core-icon {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  #btPrev {
    background: linear-gradient(to left, transparent, rgba(240, 240, 240, 1.00));

    &.highlight {
      background: linear-gradient(to left, transparent, rgba(228, 228, 228, 1.00));
    }
  }

  #btNext {
    background: linear-gradient(to right, transparent, rgba(240, 240, 240, 1.00));

    &.highlight {
      background: linear-gradient(to right, transparent, rgba(228, 228, 228, 1.00));
    }
  }
}
