:host {
  width: auto !important;
  max-width: 40rem;
  min-width: 30rem;
}

:host::shadow h1 {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 0.5rem;
}

:host::shadow #scroller {
  padding: 20px;
}
