$rowHeight: 120px;

:host {
  display: block;
}

core-list {
  overflow: hidden;
  display: block;
  margin: 0 auto;

  & > div {
    border-bottom: 1px #dedede solid;
  }
}

.row {
  padding: 20px;
  height: $rowHeight;
  overflow: hidden;

  .title {
    font-size: 1.6rem;
    font-weight: bold;
    height: 2.4rem;
    text-overflow: clip;
    text-overflow: ellipsis;
    text-overflow: " ...";
    white-space: nowrap;
    width: 80%;
    overflow: hidden;
  }

  .questionCount {
    font-size: 1.3rem;
  }

  paper-icon-button {
    position: absolute;
    right: 0rem;
    top: ($rowHeight / 2) - 20px;
  }
}

.selected {
  background: #258dc8; /* Old browsers */
  background: -moz-linear-gradient(top,  #258dc8 0%, #258dc8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#258dc8), color-stop(100%,#258dc8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #258dc8 0%,#258dc8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #258dc8 0%,#258dc8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #258dc8 0%,#258dc8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #258dc8 0%,#258dc8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#258dc8',GradientType=0 ); /* IE6-9 */
}

.fab {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

/* contains the action button*/
.actionArea {
  /*top: ($rowHeight / 2) + 12px;*/
  background-color: #006666;
  width: 40px !important;
  /*float: right !important;
  position: relative !important;*/
}
