:host {
  display: block;
}

core-toolbar {
  color: #2c2c2c;
  letter-spacing: .05em;
  text-shadow:
  1px 1px 0px #d5d5d5,
  2px 2px 0px rgba(0, 0, 0, 0.2);
  text-rendering: optimizeLegibility;
}

#imageContainer {
  padding: 10px;

  core-image {
    transform: skew(0deg,10deg);
    width: 256px;
    height: 170px;
  }
}

core-menu {
  margin: 0px;
  margin-top: -4px;

  paper-item {
    border-bottom: 1px grey solid;

    & > div {
      padding-left: 10px !important;
    }
  }
}
